<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a> |
        <a href="{{ url_for('ventas') }}">Ventas</a> |
        <a href="{{ url_for('inventario') }}">Inventario</a> |
        <a href="{{ url_for('estadisticas') }}">Estadísticas</a>
    </nav>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
